*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --title-color: #ff8c00;
}

@font-face {
    font-family: "3dumb";
    src: url('../fonts/3dumb-webfont.woff2') format('woff2'),
         url('../fonts/3dumb-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    padding: 0;
    margin: 0;
    background-color: rgb(255, 178, 127);
}

.container {
    width: 80%;
    height: 100vh;
    background-color: beige;
    margin: 0 auto;
}

#header-icon {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 5rem;

    background-color: beige;
    box-shadow: inset 0px -3px #ffa9a9;
}

.todoIcon {
    width: 80px;
    mix-blend-mode: multiply;
    transition: 25ms linear;
}

.todoIcon:hover {
    scale: 1.1;
    cursor: pointer;
}

#header-icon > p {
    font-size: 3rem;
    font-family: '3dumb';
    font-weight: bolder;
    color: var(--title-color);
}

.content {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.side-list {
    margin: 50px 20px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    align-items: center;
}

.side-image {
    width: 3rem;
    height: 3rem;
    justify-self: end;
}

.side-text {
    font-family: '3dumb';
    font-size: 2rem;
    color: var(--title-color);
    font-weight: bold;
    justify-self: start;
}