.item {
    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.card {
    padding: 1rem 2rem;
    width: 70%;
    border: 1px solid #ff8c00;
    display: grid;
    grid-template-columns: 2fr 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-flow: column;
    align-items: center;
    border-radius: 1rem;
    transition: 250ms linear;
}

.card > * {
    margin: 0px;
}

.card:hover {
    scale: 1.02;
}

.card-title {
    font-family: '3dumb';
    font-size: large;
    font-weight: bold;
}

.card-duedate {
    font-size: smaller;
}

.card-project {
    font-family: '3dumb';
    font-weight: bold;
}

.card-notes {
    grid-row: 1 / 3;
    align-self: center;
    font-size: small;
}

.card-description {
    justify-self: right;
    font-style: italic;
}

.card-project {
    justify-self: center;
}

.card-delete {
    grid-row: 1 / 3;
    align-self: center;
    justify-self: right;
    margin-right: 1rem;
}

